@import "tailwindcss";

:root {
  --background: var(--color-bg-gradient);
  --foreground: var(--color-deep-mocha);
  --font-sans: var(--font-montserrat);
}

h1{
  @apply text-center
    font-[600]
    text-2xl 
    /* sm:text-3xl md:text-3xl lg:text-4xl; */
}
h2 {
  @apply font-[600]
    text-lg
    /* sm:text-xl
    md:text-2xl
    lg:text-2xl; */
}
h3{
     @apply font-[600]
    text-base
    /* sm:text-xl
    md:text-2xl
    lg:text-2xl; */
}
p {
  @apply 
   text-justify
   leading-snug
    text-sm 
    /* sm:text-lg md:text-lg lg:text-lg; */
}
a{
    @apply text-cinereous
}
