@import "tailwindcss";

:root {
  --background: var(--color-bg-gradient);
  --foreground: var(--color-deep-mocha);
  --font-sans: var(--font-montserrat);
}

h1 {
  @apply font-bold
  text-[24px]
  sm:text-[30px]
  md:text-[32px]
  lg:text-[36px]
  text-deep-mocha;
}
h2 {
  @apply font-semibold
  text-[18px]
  sm:text-[22px]
  md:text-[26px]
  lg:text-[30px]
  text-deep-mocha;
}
h3 {
  @apply font-normal
  text-[16px]
  sm:text-[18px]
  md:text-[20px]
  lg:text-[24px]
  text-mauve-bark;
}
p {
  @apply text-justify
  leading-snug
  font-normal
  text-[14px] 
  sm:text-[16px]
  md:text-[17px]
  lg:text-[18px]
  text-liver-brown;
}
a {
  @apply text-cinereous;
}
