@import "tailwindcss";
@import "./components/core/footer.css";
@import "./components/core/header.css";
@import "./components/typography.css";
@import './components/common/dropdown.css';
@import './components/common/card.css';
@import './domains//domains.css';
@import './landing/landing.css';

@theme inline {
  --color-cream: #c4bbaf;
  --color-cinereous: #A5978B;
  --color-brown: #5c4742;
  --color-liver: #5C4742;
  --color-redwood: #8D5B4C;
  --color-caput: #5A2A27;
  --color-licorice: #1D0E0C;
  --color-khaki:#A5978B;
  --color-rose:#B8887A;
  --color-almond-silk: #E7C9C6;
  --color-seashell-pink: #F2E3E1;
  --color-bg-gradient:linear-gradient(to bottom, var(--color-almond-silk), var(--color-seashell-pink));
  --color-deep-mocha:#473733;
  --color-liver-brown:#5C4742;
  --color-mauve-bark:#6A534D;
  --color-expresso: #5A2A27;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  margin: 0;
  padding: 0;
}
/* For better snap behavior on iOS Safari */
html, body {
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
